<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.board.application.BoardMapper">
    <insert id="save">
        INSERT INTO board2
        SET title = #{title}
    </insert>
    <select id="findAll">
        SELECT id, title, createdAt
        FROM board2
        ORDER BY id DESC
    </select>

    <select id="findById">
        SELECT id, title, createdAt
        FROM board2
        WHERE id = #{id}
    </select>




</mapper>